*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: white;
}

/*.debug{
    border: 1px solid black;
    */

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}
.Logo{
   padding: 30px;
   color: fuchsia;
   text-align: center;
}
.testo{
    display: flex;
    text-align: center;
}
.clearfix:after{
    content: "";
    display: table;
    clear: both;
}
.pull-left{
    float: left;
    margin: 30px;
}


.box {
    width: calc(100% / 3 - 60px);
    color: white;
    background-color: #0F0E17;  
    box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
    min-width: 300px;

}
.immagini{
    width: 100px;
    height: auto;
    vertical-align: top;
}
.descrizione{
    display: inline-block;
    padding: 10px;
    
}
.descrizione > span{
    display: inline-block;
    margin-bottom: 7px;
    
}
.descrizione span:first-child{
    font-weight: bold;
}

.descrizione span:nth-child(5){
    color: #2C789D;
    font-size: 12px;
    font-weight: bold;
    word-wrap: break-word;
}
/*.font { 
    font-size: 12px;
}*/
.descrizione span:nth-child(3){
    font-size: 12px;
}